<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Model">
    
   
    
	<test name="compareTest">
		<classes>
			<class name="com.techjini.testcases.comparePrice" />		
		</classes>
	</test> <!-- Test -->
	
	<test name="reviewTest">
		<classes>
			<class name="com.techjini.testcases.reviewOnTripAdvisor" />		
		</classes>
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
